/* Designed to fit bigger screens naturally */

@media only screen and (max-width: 1200px) {}

/* Handles 700px to 900px */

@media only screen and (max-width: 900px) {
    html {
        font-size: 22px;
    }
    h1 {
        font-size: 250%;
    }
    h2 {
        font-size: 210%;
    }
    h3 {
        font-size: 170%;
    }
    p {
        font-size: 80%;
    }
}

/* Handles 480px to 700px */

@media only screen and (max-width: 700px) {
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 170%;
    }
    h3 {
        font-size: 140%;
    }
}

/* Handles everything less than 480px */

@media only screen and (max-width: 480px) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 140%;
    }
    h3 {
        font-size: 100%;
    }
    .bottom-nav:last-child {
        margin-right: 0;
    }
}
