/*
    Blue Color: #34b9ff
*/


/* ---------------------------------------- */


/* BASIC SETUP */


/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix {
    zoom: 1
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------- */


/* HEADINGS */


/* ---------------------------------------- */

html {
    color: red;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}
p {
    font-size: 80%;
    font-weight: 300;
}
h1 {
    padding-top: 5%;
    font-size: 300%;
    font-weight: 300;
}
h2 {
    padding-top: 3%;
    font-size: 250%;
    font-weight: 300;
}
h3 {
    padding-top: 3%;
    font-size: 200%;
    font-weight: 300;
}

/* ---------------------------------------- */


/* HEADER */


/* ---------------------------------------- */

.header {
    margin: 0px 0px 0px 0px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    background: black;
    /* For browsers that do not support gradients */
    background: #7f8c8d;
    z-index: 99999;
    border-bottom: 1px black solid;
}
.main-nav {
    list-style: none;
    margin: 8px auto;
    width: 310px;
    padding-bottom: 3px;
    background: rgba(127, 140, 141, 1);
}

/* Main Navi */

.main-nav li {
    display: inline-block;
    font-weight: 300;
}
.main-nav:last-child {
    padding-right: 5px;
}
.main-nav li a:link, .main-nav li a:visited {
    margin: 0px 15px;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    color: black;
}
.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #34b9ff;
}
.anchor {
    text-decoration: none;
    padding-top: 60px;
}
.anchor:hover {
    cursor: default;
}

/* ---------------------------------------- */


/* PAGES */


/* ---------------------------------------- */

.container {
    width: 100%;
    margin: 0 auto;
    border: 2px solid red;
    padding: 0px;
}

/* -------- TITLE -------- */

.title-page {
    background-repeat: no-repeat center center fixed;
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: block;
    background-color: white;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.cwt-img {
    max-width: 100%;
}
.social-buttons {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    font-weight: 400;
}
.social-buttons a {
    text-decoration: none;
}
.small-icon {
    padding-right: 3px;
}
.git-button {
    color: black;
    background-color: rgb(87, 87, 87);
    background: #7f8c8d;
    height: 25px;
    width: 110px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1%;
    -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}
.git-button:hover, .git-button:active {
    color: silver;
    background-color: black;
    border: 1px solid silver;
}
.linkedin-button {
    color: black;
    background-color: rgb(87, 87, 87);
    background: #7f8c8d;
    height: 25px;
    width: 130px;
    margin: 2% auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2%;
    -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}
.linkedin-button:hover, .linkedin-button:active {
    color: #007bb6;
    background-color: black;
    border: 1px solid #007bb6;
}
.fcc-button {
    color: black;
    background-color: rgb(87, 87, 87);
    background: #7f8c8d;
    height: 25px;
    width: 150px;
    margin: 2% auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2%;
    -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}
.fcc-button:hover, .fcc-button:active {
    color: #006d00;
    background-color: black;
    border: 1px solid #006d00;
}

/* -------- ABOUT -------- */

.about-page {
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin: 0px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.my-picture {
    height: auto;
    width: 30vw;
    margin: 0 auto;
}
.about-paragraph-width {
    text-align: left;
    padding-left: 20px;
}

/* -------- PORTFOLIO -------- */

.portfolio-page {
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 0px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.work-preview {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.work-preview a {
    cursor: pointer;
}
.work-preview img {
    height: 300px;
    max-width: 70vw;
    float: center;
    opacity: 0.6;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.work-preview img:hover {
    opacity: 1;
}

/* -------- CONTACT -------- */

h3 a {
    cursor: pointer;
}
.email {}
.contact-page {
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 0px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.contact-page h3 {
    padding-top: 5%;
}

/* -------- FOOTER -------- */

.footer {
    background: black;
    background: -webkit-linear-gradient(rgba(87, 87, 87, 1), rgba(127, 140, 141, 1));
    background: linear-gradient(rgba(87, 87, 87, 1), rgba(127, 140, 141, 1));
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    background-size: cover;
    overflow: hidden;
}
.copyright {
    float: right;
    margin: 10px;
    font-size: 50%;
    font-weight: 300;
}
.bottom-nav {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-top: 3px;
}
.bottom-nav li {
    display: inline-block;
    font-weight: 300;
    padding: 0;
}
.bottom-nav li a:link, .bottom-nav li a:visited {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-right: 8px;
    font-size: 80%;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    color: silver;
}
.bottom-nav li a:hover, .bottom-nav li a:active {
    border-bottom: 2px solid #34b9ff;
}
